#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 20px;
    width: 340px;
    height: 340px;
}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}